<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/angular.js"></script>
    <title>AngularJS</title>
</head>
<body ng-controller="listaTelefonicaCtrl">


        <h3>{{app}}</h3>
        <table class="table table-dark">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <td><input type="checkbox" ng-model="contato.selecionado"</td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
            </tr>
        </table>
        <input type="text" placeholder="Nome" ng-model="contato.nome">
        <input type="text" placeholder="Telefone" ng-model="contato.telefone">
        <select ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
            <option value="">Selecione uma operadora...</option>
        </select>
        <button class="btn btn-dark" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
        <button class="btn btn-danger" ng-click="excluirContato(contatos)" ng-disabled="!isContatoSelecionado(contatos)">Excluir Contato</button>


    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
            $scope.app = "Lista Telefônica";
            $scope.contatos = [
                {nome: "Ted", telefone: "1111-1111"},
                {nome: "Barney", telefone: "2222-2222"},
                {nome: "Lily", telefone: "3333-3333"},
                {nome: "Marshall", telefone: "4444-4444"},
                {nome: "Robin", telefone: "5555-5555"},
            ];
                $scope.operadoras = [
                    {nome: "Oi", codigo: 10, categoria: "Celular"},
                    {nome: "Claro", codigo: 11, categoria: "Celular"},
                    {nome: "Vivo", codigo: 12, categoria: "Celular"},
                    {nome: "Tim", codigo: 13, categoria: "Celular"},
                    {nome: "Fluke", codigo: 14, categoria: "Fixo"}
                ];

                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato;
                };

                $scope.excluirContato = function (contatos) {
                  $scope.contatos =  contatos.filter(function (contato) {
                        if(!contato.selecionado) return contato;
                    });
                };
                
                $scope.isContatoSelecionado = function(contatos){
                   return contatos.some(function (contato){
                        return contato.selecionado;
                    });
                }
        });
    </script>
    
</body>
</html>